<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
</head>

<body>
  <div class="side-menu">
    <div class="brand-name">
      <h1>ADMIN</h1>
    </div>
    <ul>
      <li>Dashboard</li>
      <li routerLink="/dashboard/add-users">Student</li>
      <li routerLink="/dashboard/AddTrainer">Trainer</li>
      <li routerLink="/dashboard/Users">Users</li>
      <li routerLink="/add-courses">Courses</li>
   
      <li>Formation</li>
      <li>Schedule</li>
    </ul>
  </div>
  <div class="container">
    <div class="header">
      <div class="nav">
        <div class="search">
          <input type="text" placeholder="Search...">
        
        </div>
        <div class="user">
          <a href="#">Profile</a>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="allpage">
        <div class="adduse">
        <button>Add formation</button>
        
      </div>
      <br>  <table id="user-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>title</th>
              <th>description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>111</td>
              <td>formation devops</td>
              <td>DevOps is a set of practices that emphasizes collaboration and communication 
                between software developers and IT operations professionals, automating the 
                process of software delivery and infrastructure changes</td>
              <td >
                <div class="modet">
                <button>Modify</button>
                <button>Delete</button>
              </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>112</td>
              <td>formation power bi</td>
              <td>Power BI is a data analysis solution from Microsoft. It enables the creation 
                of personalized and interactive data visualizations with an interface simple
                 enough for end users to create their own reports and dashboards</td>
              <td >
                <div class="modet">
                <button>Modify</button>
                <button>Delete</button>
              </div>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>113</td>
              <td>formation cloud aws</td>
              <td>Amazon Web Services (AWS) is the world s most comprehensive and widely 
                adopted cloud platform. It offers more than 200 comprehensive services from 
                data centers around the world.</td>
              <td >
                <div class="modet">
                <button>Modify</button>
                <button>Delete</button>
              </div>
              </td>
            </tr>
          </tbody>
          
        </table>
        </div>        
      <div class="content-2"></div>
    </div>
</div>
    
</body>

</html>
