<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
</head>

<body>
  <div class="side-menu">
    <div class="brand-name">
      <h1>ADMIN</h1>
    </div>
    <ul>
      <li>Dashboard</li>
      <li routerLink="/dashboard/add-users">Student</li>
      <li routerLink="/dashboard/AddTrainer">Trainer</li>
      <li routerLink="/dashboard/Users">Users</li>
      <li routerLink="/add-courses">Courses</li>
      <li>Formation</li>
      <li>Schedule</li>
    </ul>
  </div>
  <div class="container">
    <div class="header">
      <div class="nav">
        <div class="search">
          <input type="text" placeholder="Search...">
          <a href="#" class="button">Search</a>
        </div>
        <div class="user">
          <a href="#">Profile</a>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="cards">
        <div class="card">
          <div class="box">
            <h1>315</h1>
            <h2>Students</h2>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <h1>34</h1>
            <h2>Teachers</h2>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <h1>64</h1>
            <h2>Courses</h2>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <h1>21</h1>
            <h2>Formation</h2>
          </div>
        </div>
      </div>

      <div class="content-2"></div>
    </div>

  </div>
  <div class="allpage">
    <div class="adduse">
    <button>Add User</button>
    </div>
    <table id="user-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>fff</td>
          <td></td>
          <td></td>
          <td >
            <div class="modet">
            <button>Modify</button>
            <button>Delete</button>
          </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    
</body>

</html>
